*{
    margin:0px;
    padding:0px;
}

body{
    background-color: orange;
}

nav{
    background-color: #b2b2b2;
    display:flex;
    align-items: center;
}

nav a{
    padding:20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}

article{
    display:flex;
    justify-content: center;
    align-items: center;
}

article section{
    margin:20px;
    color:white;
    text-align: justify;

}